<div class="c33 {{style}}">
	<!-- FLEX: teaser.html -->
	<!-- no index start -->
	<div class="teaser-content no-wrap
	text-on-bottom
	">

	<a href="" target="_self" data-tracking-id="">
		<img src="{{image}}" alt="">

		<div class="teaser-head">
			<h2>{{title}}</h2>
			<h3>{{subtitle}}</h3>
		</div>
		<p>

		</p>
		<i></i>
	</a>
</div>
<!-- no index end -->
<!-- /FLEX: teaser.html -->
</div>